//- output: index.html, pretty:false

include site/_config.jade
include subsections.jade
+html5
  +head(title, stylesheets, keywords, description)
  body    
    .topbar
      .container
        .col12
          p 
            span +52 (667) 715 11 42
            |   |  
            a(href="mailto:rinofastculiacan@gmail.com") rinofastculiacan@gmail.com
            |   |  
            a(href="https://www.facebook.com/rinofast.culiacansinaloa?fref=ts", target="_blank").fa.fa-facebook

    header
      .container
        .col2.col-t4.push-t4.col-m4.push-m4
          a(href="#inicio", data-scroll): img(src="site/img/rinofast.png", alt="Rinofast Sinaloa").logo.nomobile
        .col10.push0.col-t12.col-m12.push-t0.push-m0
          nav: +menu('index', menu, 'horizontal', '#', ' ', '', {'data-scroll':true})
  
    +sliderbg('#inicio', 'site/img/inicio.jpg', 'site/img/inicio_2.jpg', 'site/img/inicio_3.jpg')
    section#inicio
      .container#phrase
        .col6.col-t10.col-m10
          div#plogo(data-sr="enter left scale down 200%"): img(src="site/img/rinofastsinaloa.png", alt="Rinofast Sinaloa")
          div#p1(data-sr="enter left wait 0.2s  scale down 400%") Nunca es tarde
          div#p2(data-sr="enter right wait 0.6s  scale down 200%") para ser lo que soñaste.

    

    section#nosotros(data-sr)
      .cristal
        .container
          .col10.push1
            h1 Bienvenido a Rinofast Sinaloa
            hr
            p Originado en 2011 como una rama de Rinofast México
    
    section#video
      video(width="100%", controls)
        source(src="site/img/video.mp4", type="video/mp4")
        source(src="site/img/video.ogv", type="video/off")
    
    
    
    

    +sliderbg('#sobre', 'site/img/sobre.jpg')
    section#sobre
      .container
        .col6.col-m12(data-sr)
          .title Rinofast Sinaloa
          p Somos un centro de cirugía estética facial con procedimientos innovadores basados en un moderno sistema utilizando los estándares más altos de estética de cara a nivel mundial.
        .col6.col-m12(data-sr)
          .title Nuestra innovación
          p Con un innovador sistema de cirugía facial usando la técnica por tumescencia creada por el Dr. Héctor Manuel Marín basada en anestesia local para eliminar dolor durante y después del procedimiento quirúrgico equivalente a una visita al dentista.
      .container
        .col6.col-m12(data-sr)
          .title Rapidez
          p Nuestro método exclusivo es capaz de corregir problemas estéticos y funcionales de nariz, solamente utilizando anestesia local, con un procedimiento que tarda menos de 3 horas desde que entra hasta que sale de su cirugía.
      .container
        .col6.col-m12(data-sr)
          .title Recuperación
          p Gracias a nuestro método nuestros pacientes logran una recuperación de tan sólo 
            strong 24 a 72 horas
            | .
            

    
      
    section#experiencia
      .cristal
        .container
          .col10.push1
            h2 Experiencia
            hr
            p: strong Dr. Ángel Andrés Loaiza León
            p Médico Especialista en Otorrinalaringología y cirugía de cabeza y cuello, Universidad Nacional Autónoma de México (UNAM) | Cédula: 6880566
      .container
        .col6.col-m12(data-sr="enter left move 100px")
          .title Seguridad médica
          p Actualmente los procedimientos médicos y quirúrgicos conllevan a una gran responsabilidad social y de salud, tanto del médico como del paciente, mismos que el Dr. Loaiza tiene muy claros y precisos. Y cabe mencionar que la Rinoplastía con anestesia local es más segura y quita las complicaciones anestésicas de la Rinoplastía con anestesia general y por sedación.
        .col6.col-m12(data-sr="enter right move 100px")
          .title Exclusivo
          p El Dr. Loaiza León cuenta con amplios conocimientos teóricos y prácticos, utilizando más de 50 técnicas para manejo de punta nasal, con lo cual se obtienen miles de resultados diferentes en estilos de nariz, siendo ésta única y exclusiva personalizada al rostro del paciente con un resultado de aspecto natural.
      .container#experienciaMedica
        .col12: .title Experiencia Médica
        .col5
          img(src="site/img/drangel.png", alt="Dr. Ángel Andrés Loaiza León").w100.thedr
        .col7
          
          ul.experienciaul
            li(data-sr)
              | Especialidad en Otorrinolaringolog&iacute;a y Cirug&iacute;a de Cabeza y Cuello. 
              span.at Centro M&eacute;dico Nacional 20 de Noviembre ISSSTE 2007-2011
              span.where (M&eacute;xico D.F.)
            li(data-sr)
              | Certificado por el Consejo Mexicano de Otorrinolaringolog&iacute;a y Cirug&iacute;a de Cabeza y Cuello A.C. 2011 
              span.where (M&eacute;xico D.F.)
            li(data-sr)
              | Pasant&iacute;a en Cirug&iacute;a Pl&aacute;stica Facial, 
              span.at Cl&iacute;nica LaFont 2010
              span.where (Bogot&aacute;, Colombia)
            li(data-sr)
              | Rotaci&oacute;n formativa en Otorrinolaringolog&iacute;a, 
              span.at Hospital Ram&oacute;n y Cajal 2010
              span.where (Madrid, Espa&ntilde;a)
            li(data-sr)
              | Fellowship en transtornos respiratorios y del sue&ntilde;o. 
              span.at Hospital General de M&eacute;xico SSA 2010-2011
              span.where (M&eacute;xico D.F.)
            li(data-sr)
              | Diplomado en rinolog&iacute;a, Cirug&iacute;a Facial y Senos Paranasales, 
              span.at UNAM 2011
              span.where (M&eacute;xico D.F.)
            li(data-sr)
              | Fellowship en Rinoplast&iacute;a y Cirug&iacute;a Facial de Ultracorta Estancia. 
              span.at RINOFAST 2011
              span.where (M&eacute;xico D.F.)
            li(data-sr)
              | Miembro del Colegio de Otorrinolaringolog&iacute;a y Cirug&iacute;a de Cabeza y Cuello de Sinaloa 
              span.where (Sinaloa, M&eacute;xico)
            li(data-sr)
              | Miembro de la Sociedad Mexicana de Rinolog&iacute;a y Cirug&iacute;a Facial 
              span.where (M&eacute;xico 2012)
        



    section#procedimientos
      .cristal
        .container
          h2 Procedimientos
        
      mixin articleService(name, slug)
        article(role="#{slug}")
          h2=name
          a(href="##{slug}", data-scroll) Conocer más 
            span.fa.fa-angle-right
      
      mixin articleServiceBox(name, slug)
        article(role="#{slug}")
          h2=name
          a(href="##{slug}").openD Conocer más 
            span.fa.fa-angle-right
            
      .container.w100
        .col4.col-m12(data-sr="enter left")
          +articleService('Rinoplastía', 'rinoplastia')
        .col4.col-m12(data-sr="enter top")
          +articleService('Estéticos Quirúrgicos', 'quirurgicos')
        .col4.col-m12(data-sr="enter right")
          +articleService('Estéticos No Quirúrgicos', 'noquirurgicos')
        
        //.col7.col-m12(data-sr="enter left wait 0.2s")
          .slider.multiple
            div: +articleService('Mentoplastía', 'cirugiadementon')
            div: +articleService('Bichectomía', 'bichectomia')
            div: +articleService('Otoplastía', 'otoplastia')
            div: +articleService('Liposucción de cuello', 'liposucciondecuello')
            div: +articleService('Blefaroplastía', 'blefaroplastia')
        
    +subsections
    
    +sliderbg('#contactanos', 'site/img/contactanos_bg.jpg')
    section#contactanos
      .container
        a(data-scroll, href="#contacto")
          .col7.col-m12.contactanos(data-sr="enter left wait 0.5s") CONTÁCTANOS
          .col5.col-m12.personalizada(data-sr="enter right scale down 400%")
            P TU VALORACIÓN ES <br>
              strong PERSONALIZADA
    
          
    +sliderbg('#beneficiosIMG', 'site/img/beneficios.jpg')
    section#beneficios
      #beneficiosIMG
        .container
          .col12: h2 Beneficios
        .container  
          .col6.col-m12
            .icon.fa.fa-check(data-sr="enter top scale down 300%")
            p(data-sr="enter bottom") Alta calidad en buena ubicación con el equipo necesario para su salud.
          .col6.col-m12
            .icon.fa.fa-usd(data-sr="enter top scale down 300%")
            p(data-sr="enter bottom") Precio más accesible al evitar hospitalización.
        .container
          .col6.col-m12
            .icon.fa.fa-heart(data-sr="enter top scale down 300%")
            p(data-sr="enter bottom") Anestesia local equivalente a la del dentista, resultando en mínimo sangrado, ultracorta estancia, mínimas complicaciones, menos inflamación, menos hematomas, sin uso de tapones. Mismos resultados que la cirugía convencional.
          .col6.col-m12
            .icon.fa.fa-female(data-sr="enter top scale down 300%")
            p(data-sr="enter bottom") Entrar y salir caminando antes e inmediatamente después de su cirugía sin dolor en menos de 3 hrs desde que entra hasta que sale de la clínica u hospital en el que fue intervenido (operado).
    
    section#comparativo
      .cristal
        .container
          h2 Comparativo
      .container
        .col5.col-m4.otros
          h3 Anestecia General
            div Otros
        .col2.col-m4 &nbsp;
        .col5.col-m4.tumescente
          h3 Anestecia Tumescente
            div Rinofast
      .container
        .col5.col-m4.otros
          table(data-sr="enter left move 100px")
            tr: td Moderado a severo
            tr: td Casi siempre
            tr: td Casi siempre
            tr: td Semanas
            tr: td Ansiedad de moderada a severa
            tr: td De 8 a 24 hrs.
            tr: td Restringidas
            tr: td 2 o más hrs.
        .col2.col-m4.middle(data-sr="enter bottom")
          table
            tr: td Dolor postoperatorio
            tr: td Tapones
            tr: td Hematomas (moretones)
            tr: td Tiempo de recuperación
            tr: td Molestias preoperatorias
            tr: td Estancia hospitalaria
            tr: td Actividades
            tr: td Duración de cirugía
        .col5.col-m4.tumescente(data-sr="enter right move 100px")
          table
            tr: td Escaso o nulo
            tr: td No
            tr: td Rara vez
            tr: td 24 a 72 hrs.
            tr: td Leve o nada
            tr: td 3 horas total (sin hospitalización)
            tr: td Vida diaria normal
            tr: td 60 minutos o menos
    section#galeria
      .cristal
        .container
          h2 Galería Rinofast
      .container
        .slider.one
          - for(var i = 1; i<21; i++ )
            div: .container
              .col6.col-m12: a(href="site/img/galeria/#{i}a.jpg", title="Antes").box: img(src="site/img/galeria/#{i}a.jpg", alt="Antes").w100
              .col6.col-m12: a(href="site/img/galeria/#{i}b.jpg", title="Después").box: img(src="site/img/galeria/#{i}b.jpg", alt="Después").w100
          
    section#contacto
      .cristal
        .container
          h2 Contácto
          hr
          .col6.col-m12: p Calle Mariano Escobedo 830 Ote. 4o Piso, Consultorio: 21,<br>Col. Centro, Culiacán, Sinaloa, C.P. 8000 (Frente a Clínica Hospital Culiacán).
          .col6.col-m12
            p Tel. +52 (667) 715 11 42
            p Cel. 044 66 72 300 876
            p
              a(href="mailto:dr.angel.loaiza@rinofastsinaloa.com.mx") dr.angel.loaiza@rinofastsinaloa.com.mx 
              a(href="mailto: rinofastculiacan@gmail.com")  rinofastculiacan@gmail.com
      .container.mapcont
        .col6.col-m12
          | <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d752.6146319651715!2d-107.38500397625506!3d24.807196714481602!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2smx!4v1445552910679" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
        .col6.col-m12
          +formSimple('rinofastculiacan@gmail.com', ' rinofastculiacan@gmail.com', 'Nuevo mensaje Rinofastsinaloa.com.mx')
    footer
      .container
        .col10.col-t12.col-m12
            nav: +menu('index', menu, 'horizontal', '#', ' ', '', {'data-scroll':true})
        .col2.col-t4.push-t5.col-m4.push-m5: a(href="http://dosisaltas.com.mx", target="_blank"): img(src="site/img/dosisaltas.png", alt="Dosis Altas")
    +scripts
